@using StarwarsStuff.Ui.Models
        <tr>
            <td>
                @Todo.Title
            </td>
            <td style="text-align: right">
                <SubmitButtonSmall OnClick="MarkDone" Key="Todo.Title" />
                <DeleteButtonSmall OnClick="MarkDone" Key="Todo.Title" />
            </td>
        </tr>


@code {
    [Parameter]
    public TodoItem Todo { get; set; }
    
    [Parameter]
    public EventCallback<string> MarkDone { get; set; }
}