<button type="button" class="btn btn-default" @onclick="@(() => OnClick.InvokeAsync(null))">@Title</button>

@code {
   [Parameter] 
   public string Title { get; set; } 
   
   [Parameter]
   public EventCallback OnClick { get; set; }
}
