<button type="button" class="btn btn-primary btn-sm" @onclick="@(() => OnClick.InvokeAsync(Key))">chk</button>

@code {
    [Parameter] public EventCallback<string> OnClick { get; set; }
    
    [Parameter] public string Key { get; set; }
}