
<tr>
    <td>Test</td>
</tr>

@code {
    //[Parameter] public RenderFragment<TItem> ChildContent { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    
//    [Parameter] public IEnumerable<TItem> Data { get; set; }
}
