@page "/TodoV2"
@using StarwarsStuff.Ui.Models

<h3>TodoV2</h3>

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<TodoInputV1 AddTodo="@AddTodo" />

<br />

<TodoTableV1 Todos="todos" MarkDone="@((string x) => MarkDone(x))"></TodoTableV1>

<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>


@code {
   private IList<TodoItem> todos = new List<TodoItem>();
   private void AddTodo(string newTodo)
   {
      if (!string.IsNullOrWhiteSpace(newTodo))
      {
         todos.Add(new TodoItem() { Title = newTodo });
         newTodo = string.Empty;
      }
   }

   private void MarkDone(string title)
   {
      var todo = todos.FirstOrDefault(x => x.Title == title && !x.IsDone);

      if(todo != null)
         todo.IsDone = true;
   }
}
