@page "/TodoV1"
@using StarwarsStuff.Ui.Models
<h3>TodoV1</h3>

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
   @foreach (var todo in todos.Where(x => !x.IsDone))
   {
      <li>
         @todo.Title 
            <button type="button" class="btn btn-primary btn-sm" @onclick="@(() => MarkDone(todo.Title))">chk</button>
            <button type="button" class="btn btn-danger btn-sm" @onclick="@(() => MarkDone(todo.Title))">x</button>
      </li>
   }
</ul>

<form>
   <div class="form-row">
      <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Something Todo" @bind="newTodo"/>
      </div>
      <div class="col-auto">
         <button type="button" class="btn btn-primary" @onclick="AddTodo">Add Todo</button>
         <button type="button" class="btn btn-default" @onclick="Cancel">Cancel</button>
      </div>
   </div>
</form>

@code {
   private IList<TodoItem> todos = new List<TodoItem>();

   private string newTodo;

   private void AddTodo()
   {
      if (!string.IsNullOrWhiteSpace(newTodo))
      {
         todos.Add(new TodoItem() { Title = newTodo });
         newTodo = string.Empty;
      }
   }

   private void Cancel()
   {
      newTodo = string.Empty;
   }
   
   private void MarkDone(string title)
   {
      var todo = todos.FirstOrDefault(x => x.Title == title && !x.IsDone);

      if(todo != null)
         todo.IsDone = true;
   }
}